<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-6 mx-auto d-flex justify-content-center align-items-center">
    <div class="btn-group" mdbDropdown>
      <a mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
         mdbWavesEffect>
        Membership
      </a>
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" (click)="openNextPage('basic')">Basic</a>
        <a class="dropdown-item" (click)="openNextPage('premium')">Premium</a>
      </div>
    </div>
  </div>
</div>
